//=====Обнуление=================================================================================================================================
@import "_null";

//=====Шрифты=================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap);

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

//=====Цвета=================================================================================================================================

$baseColor: #f2994a;
$textColor-1: #8476aa;
$textColor-2: #99efd0;

//=====Стили=================================================================================================================================
body {
  font-family: "Inter";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  /*border: 3px solid rgb(240, 6, 6);*/
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  position: relative;
  z-index: -50;
  /*&::after {
    content: "";
    position: absolute;
    top: 620px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/media/background/choice-left.svg) left center / 320px 566px
      no-repeat;
    opacity: 0.1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 720px;
    right: 0;
    bottom: 0;
    background: url(/media/background/choice-right.svg) right / cover no-repeat;
    opacity: 0.1;
    width: 400px;
  }*/
}

.content {
  flex: 1 1 auto;
}

.header {
  padding: 86px 0;
  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 1 36px;
  }

  &__list {
    margin: 0px 0px 0px 44px;
    flex: 1 1 auto;
    display: flex;

    & li:not(:last-child) {
      margin: 0px 20px 0px 0px;
    }
    & li a {
      font-family: Gilroy;
      font-size: 12px;
      line-height: 167%;
      color: #b5b5b5;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    width: 112px;
    height: 36px;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    &:first-child {
      background-color: transparent;
      color: $baseColor;
      border: 1px solid $baseColor;
      border-radius: 4px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  background-color: $baseColor;
  border-radius: 3px;
  color: #fff;
  font-family: Rubik;
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.reasons {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url("/media/background/running-man.svg") no-repeat;
    height: 579 / 539 * 100%;
    width: 723 / 1440 * 100%;
  }

  &__body {
    max-width: 540px;
    padding-bottom: 103px;
  }

  &__title {
  }

  &__text {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 122%;
    color: $textColor-1;
    margin: 19px 99px 40px 0px;
    font-weight: 600;
  }

  &__btns {
    margin: 0px 0px 60px 0px;
  }

  &__btn {
    width: 157px;
    height: 46px;
    &:last-child {
      margin-left: 20px;
      background: transparent;
      color: $baseColor;
      border: 1px solid $baseColor;
    }
  }
  &__list {
    display: flex;
    font-size: 25px;
    gap: 74px;
    position: relative;
    z-index: 50;
    padding: 0 63px;
    & a {
      color: #605a82;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 44px;
  line-height: 114%;
  color: $textColor-2;
  & span {
    color: $baseColor;
  }
}

.watch-reasons {
  display: flex;
  height: 80px;
  &__watch {
    flex: 1 1 25%;
    position: relative;
    height: 100%;
    margin-right: 20px;
    & a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 40px;
      max-height: 40px;
    }
  }

  &__video {
    background-color: #361c5d;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.308);
    & video {
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    flex: 1 1 75%;
    padding: 4px 0;
  }

  &__text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 137%;
    color: $textColor-1;
  }

  &__subtext {
    font-family: Rubik;
    font-size: 14px;
    line-height: 157%;
    color: #6d6d78;
    margin-top: 6px;
  }
}

.choice {
  padding: 99px 0px 161px 0px;
  position: relative;
  /*&::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/media/background/choice-left.svg) 34px -120px no-repeat;
    opacity: 0.2;
  }*/
  &__container {
    padding: 0 63px;
  }

  &__title {
    font-weight: bold;
    font-size: 42px;
    line-height: 119%;
    color: $textColor-2;
    text-align: center;
  }

  &__subtitle {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 137%;
    color: $textColor-1;
    text-align: center;
    margin: 13px 0px 50px 0px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 50px;
  }

  &__column {
    flex: 1 1 299px;
  }

  &__item {
  }
}

.item-choice {
  padding: 0px 0px 0px 54px;
  &__title {
    margin: 0px 0px 10px 0px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 122%;
    font-weight: bold;
    color: $textColor-2;
    position: relative;

    &_1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/ecstatic.svg");
      margin-left: -52px;
    }

    &_2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/airpods.svg");
      margin-left: -52px;
    }

    &_3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/lte.svg");
      margin-left: -52px;
    }

    &_4::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/thunder-move.svg");
      margin-left: -52px;
    }

    &_5::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/endeavor.svg");
      margin-left: -52px;
    }

    &_6::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("/media/icons/lamp.svg");
      margin-left: -52px;
    }
  }

  &__text {
    font-family: Gilroy;
    font-size: 14px;
    line-height: 157%;
    color: $textColor-1;
    font-weight: 600;
  }
}

.increase {
  &__container {
    display: flex;
    padding: 0px 0px 216px 79px;
  }

  &__body {
    flex: 0 1 45%;
    padding: 0px 31px 0px 0px;
    margin: 37px 58.33px 0px 0px;
  }

  &__title {
    font-size: 42px;
    line-height: 119%;
  }

  &__text {
    margin: 32px 0px 43px 0px;
  }

  &__btn {
    width: 155px;
    height: 48px;
  }

  &__overview {
  }

  &__graph {
  }

  &__item {
    padding: 26px;
  }
}

.item-increase {
  background-color: #1d2067;
  box-shadow: -7.15089px 14.3018px 53.6316px rgba(82, 114, 139, 0.24);
  border-radius: 8.93861px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -155px;
    width: 89px;
    height: 80px;
    background: url(/media/icons/arrow.svg) center no-repeat, #13c296;
    box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
    border-radius: 9px;
  }
  &::after {
    content: "";
    position: absolute;
    right: -237px;
    bottom: -180px;
    z-index: -10;
    width: 139px;
    height: 150px;
    background: url(/media/background/traffic-dots.svg);
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
    align-items: center;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14.3018px;
    line-height: 17 / 14.3 * 100%;
    color: $textColor-1;
  }

  &__subtitle {
    font-family: "Open Sans";
    font-size: 8.93861px;
    line-height: 12 / 8.93 * 100%;
    color: $textColor-1;
  }

  &__img {
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__img-back {
    position: absolute;
    left: 50%;
    top: -17.6px;
    z-index: -3;
    max-width: 286px;
    max-height: 357px;
    & img {
      object-fit: cover;
    }
  }
}

.save {
  &__container {
  }

  &__title {
    font-size: 36px;
    line-height: 117%;
    letter-spacing: 0.33px;
    text-align: center;
  }

  &__subtitle {
    padding: 32px 0 48px 0;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476aa;
  }

  &__row {
    display: flex;
    column-gap: 109px;
  }

  &__column {
    text-align: center;
    flex: 0 1 291px;
    padding: 0 10px;
    &:not(:nth-child(2)) {
      padding: 0 42px;
    }
  }

  &__num {
    font-weight: bold;
    font-size: 36px;
    line-height: 117%;
    color: $textColor-2;
    letter-spacing: 0.33px;
  }
}

.create {
  background: url(/media/background/startup-bot.svg) center bottom no-repeat,
    url(/media/background/startup-top.svg) 365px 60px no-repeat;
  margin: 160px 0px 0px 0px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    padding: 0 107px;
    font-size: 42px;
    margin: 0px 0px 46px 0px;
  }

  &__btn {
    width: 164px;
    height: 54px;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    margin: 0px 0px 350px 0px;
  }
}

.invest {
  position: relative;
  z-index: -2;
  padding-bottom: 143px;
  background: url(/media/background/bitmap.svg) right center / 770px 461px
    no-repeat;
  &__container {
    display: flex;
    padding: 0px 98px 0px 79px;
  }

  &__text {
    margin: 32px 0px 46px 0px;
  }

  &__btn {
    width: 155px;
    height: 54px;
  }

  &__grow {
    flex: 0 1 260px;
    margin: 48px 0px 0px 0px;
  }

  &__body {
    margin: 96px 193px 0px 0px;
    flex: 0 1 50%;
  }
}

.text {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 187%;
  letter-spacing: 0.5px;
  color: $textColor-1;
}

.item-invest {
  background-color: #fff;
  box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 122px;
    left: -30px;
    width: 60px;
    height: 60px;
    background: url(/media/icons/arrow.svg) center / 45.7% 23.5% no-repeat,
      #13c296;
    box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
    border-radius: 6px;
  }

  &__flag {
    color: #fff;
    position: absolute;
    background: rgb(81, 110, 169);
    box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
    border-radius: 10px;
    width: 130px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: -113px;
    bottom: 103px;
    z-index: -1;
    & p:first-child {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 20 / 16 * 100%;
    }
    & p:last-child {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 10px;
      line-height: 14 / 10 * 100%;
      letter-spacing: 0.5px;
      mix-blend-mode: normal;
      opacity: 0.8;
    }
  }
  &__img {
    flex: 1 1 200px;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__body {
    padding: 20px 30.5px;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 500;
    line-height: 29 / 16 * 100%;
    color: #212b36;
  }

  &__subtitle {
    font-family: "Open Sans";
    font-size: 10px;
    line-height: 14 / 10 * 100%;
    letter-spacing: 0.5px;
    color: #637381;
    margin: 2px 0px 22px 0px;
  }

  &__money {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29 / 24 * 100%;
    color: #13c296;
  }

  &__request {
    font-family: "Open Sans";
    padding: 0px 5px 20px 0px;
    border-bottom: 1px solid #d6dbdf;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14 / 10 * 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #98a4af;
  }

  &__info {
    display: flex;
    column-gap: 47px;
    & > div {
      display: flex;
      flex-direction: column;
    }
  }

  &__date {
    & span:first-child {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 17 /14 * 100%;
      color: #212b36;
    }
    & span:last-child {
      font-family: "Open Sans";
      font-size: 10px;
      line-height: 14 / 10 * 100%;
      letter-spacing: 0.5px;
      color: #637381;
    }
  }

  &__ltv {
    & span:first-child {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 17 /14 * 100%;
      color: #212b36;
    }
    & span:last-child {
      font-family: "Open Sans";
      font-size: 10px;
      line-height: 14 / 10 * 100%;
      letter-spacing: 0.5px;
      color: #637381;
    }
  }

  &__loan {
    & span:first-child {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 17 /14 * 100%;
      color: #212b36;
    }
    & span:last-child {
      font-family: "Open Sans";
      font-size: 10px;
      line-height: 14 / 10 * 100%;
      letter-spacing: 0.5px;
      color: #637381;
    }
  }
}

.help {
  &__container {
    display: flex;
    padding: 0px 0px 0px 96.32px;
    column-gap: 126px;
  }

  &__img {
    border-radius: 8.77934px;
    flex: 0 1 37%;
    position: relative;
  }

  &__dots-left {
    position: absolute;
    left: -32.6px;
    top: -23px;
    z-index: -1;
  }

  &__dots-right {
    position: absolute;
    z-index: -1;
    bottom: 149.23px;
    right: -47.25px;
  }

  &__oval-blue {
    position: absolute;
    z-index: -1;
    left: -77.32px;
    bottom: 106px;
  }

  &__oval-green {
    position: absolute;
    z-index: -2;
    bottom: 83px;
    left: -35px;
  }

  &__body {
    padding: 64px 0;
  }

  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 123%;
    letter-spacing: 0.325px;
    color: $textColor-2;
  }

  &__text {
    line-height: 133%;
    letter-spacing: 0.2px;
    margin: 32px 0px 48px 0px;
  }

  &__row {
    display: flex;
    column-gap: 64px;
  }

  &__item {
  }
}

.item-help {
  &__icon {
    width: 36px;
    height: 36px;
    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    letter-spacing: 0.2px;
    color: $textColor-2;
    margin: 16px 0px 8px 0px;
  }

  &__text {
    letter-spacing: 0.2px;
    line-height: 133%;
    padding-right: 14px;
  }
}

.contact {
  background: url(/media/background/card-bg.svg) center 80% / 100% no-repeat;
  &__container {
    padding: 196px 80px 93px 80px;
  }
}

.item-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181a51;
  padding: 62px 156px;
  border-radius: 5px;
  &__title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 119%;
    color: $baseColor;
  }

  &__subtitle {
    font-family: Rubik;
    font-size: 16px;
    margin: 20px 0px 23px 0px;
    line-height: 137%;
    color: #95a1bb;
  }

  &__input {
    overflow: hidden;
    width: 416px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    border-radius: 5px;
    background: rgba(246, 246, 246, 0.103);
    margin-bottom: 16px;
    & input[type="text"] {
      height: 100%;
      flex: 1 1 auto;
      padding: 18px 16px;
      background: transparent;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.2px;
      color: #fff;
      &::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.2;
      }
      &:-moz-placeholder {
        color: #fff;
        opacity: 0.2;
      }
      &::-moz-placeholder {
        color: #fff;
        opacity: 0.2;
      }
      &:-ms-input-placeholder {
        color: #fff;
        opacity: 0.2;
      }
    }
    & button {
      height: 100%;
      font-family: Rubik;
      font-weight: 500;
      font-size: 12px;
      line-height: 167%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: $baseColor;
      flex: 0 1 30%;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
  }
}

.footer {
  background: url("/media/background/footer-bg.svg") center top/ 100% no-repeat;
  &__container {
    padding: 0px 78px 0px 30px;
  }

  &__row {
    display: flex;
    &_1 {
      justify-content: space-between;
      align-items: center;
      margin-top: 46px;
    }

    &_2 {
      padding: 86px 0px 0px 8px;
      color: #fff;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 123%;
    letter-spacing: 0.325px;
    color: #f2994a;
  }

  &__media {
    display: flex;
    align-items: center;
    flex: 0 1 152px;
    justify-content: space-between;
    & a:not(:last-child) {
      margin-right: 16px;
    }
    & a {
      background-color: #262857;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 50%;
      font-size: 12px;
      flex: 0 1 40px;
    }
  }

  &__column {
  }

  &__copyright {
    padding: 99px 0;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*column-gap: 34px;*/
    & a {
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.2px;
      color: #8d8d8d;
      margin-left: 34px;
    }
  }
}

.column-footer {
  &__title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    margin-bottom: 25px;
    letter-spacing: 0.2px;
  }

  &__list {
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.2px;
    & li:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
